<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>差值表达式</h1>
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <h1>v-text</h1>
    <h3 v-text="msg"></h3>
    <h3 v-text="count"></h3>
    <h1>v-model</h1>
    <input type="text" v-model="msg">
    <input type="text" v-model="count">
  </div>
</body>
</html>
<script src="./src/complier.js"></script>
<script src="./src/observer.js"></script>
<script src="./src/vue.js"></script>
<script>
  let vm = new Vue({
    el: '#app',
    data: {
      msg: 'hello vue',
      count: 99,
      person: {
        name: 'zhangSan'
      }
    }
  })
</script>